<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    
    <h1>Cupcake List</h1>
    <ul id="cupcakes-list">
    
    </ul>

    <h2>Add a new cupcake</h2>

    <form action="">
        <label for="cupcake-flavor">Flavor: </label>
        <input type="text" name="flavor" id="cupcake-flavor">

        <label for="cupcake-size">Size: </label>
        <input type="text" name="size" id="cupcake-size">

        <label for="cupcake-rating">Rating: </label>
        <input type="text" name="rating" id="cupcake-rating">

        <label for="cupcake-image">Image: </label>
        <input type="text" name="flavor" id="cupcake-image">
        
        <button>Add New Cupcake</button>
    </form>
   

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script> 
    <script src="static/cucpakes.js"></script>   
</body>
</html>